data/**/database_data
data/**/estimated_depths/**/*.csv
data/**/visibility_masks/**/*.png
data/**/visibility_masks/**/*.npy
data/**/*.zip
data/databases/RealEstate10K/downloaded_data/RealEstate10K.tar.gz
data/databases/RealEstate10K/unzipped_data/RealEstate10K/
data/DenseNeRF/runs/**/training/train*/**/*.png
data/DenseNeRF/runs/**/training/train*/**/*.npy
data/DenseNeRF/runs/**/training/train*/**/*.npz
data/DenseNeRF/runs/**/training/train*/**/*.tar
data/DenseNeRF/runs/**/training/train*/**/events*
data/DenseNeRF/runs/**/testing/test*/**/*.png
data/DenseNeRF/runs/**/testing/test*/**/*.mp4
data/DenseNeRF/runs/**/testing/test*/**/*.npy
data/DenseNeRF/runs/**/testing/test*/**/*.npz
runs/**/training/train*/**/*.png
runs/**/training/train*/**/*.npy
runs/**/training/train*/**/*.npz
runs/**/training/train*/**/*.tar
runs/**/training/train*/**/events*
runs/**/testing/test*/**/*.png
runs/**/testing/test*/**/*.mp4
runs/**/testing/test*/**/*.npy
runs/**/testing/test*/**/*.npz
tmp/
